
.route-container{
    background-color: #1B1B1B;
    min-height: 100vh;
    width: 100%;
}

.searchicon
{ 
    background-color: #fff;
    height:40px;
    width:60px;
    outline: none;
    border:1px solid transparent;
    border-radius: 0px 10px 10px 0px;
}

.images {
    height: 200px;
    width: 320px;
    margin: 5px 7px;
    border-radius: 15px;
}

.title {
    color: #fff;
    padding: 20px 15px;
    font: 20px;
    font-weight: 300;
}