.container_self {
    padding: 15px 0;
    /* margin: 15px 0; */
    background: #1B1B1B;
    margin: auto;
    height: 200vh;
}

.home_head {
    color: white;
    font-style: bold;
    padding: 26px 15px;
    font-family: 'Cormorant', serif;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

#Cardyy {
    padding: 7px;
    color: #f1faee;
}

.myCard {
    width: 18rem;
    height: 4.6rem;
}

.card-text {
    color: rgba(31, 30, 30, 0.918);
    font-family: 'Cormorant', serif;
    font-size: 18px;
}

.card_img {
    object-fit: cover;
    height: 4.5rem;
}

.my_col {
    width: 12rem;
    height: 23rem;
    /* color: rgba(94, 89, 89, 0.747); */
}