.container_self {
    padding: 15px 0;
    background: #1B1B1B;
    margin: auto;
    /* height: 200vh; */
}

.top_bar {
    color: white;
}

/* ---------------------  BUTTON    ---------------------------- */

.Button {
    padding: 4px auto 4px auto;
    margin-bottom: 6px;
}

.Button .Button-btn {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 12px;
    display: inline-block;
    padding: 8px 34px;
    background-color: rgba(0, 0, 0, .7);
    border: 1px solid hsla(0, 0%, 100%, .7);
    letter-spacing: 1.76px;
    text-transform: uppercase;
    border-radius: 500px;
    transition: 0.3s;
    text-decoration: none;
    color: #fff;
}

.Button .Button-btn:hover {
    background: rgba(87, 83, 83, 0.575);
    transform: scale(1.1);
    /*  FOR ZOOM OUT EFFECT */
}

.navBig {
    font-size: 0.9rem;
    color: #fffffff3;
    background: rgba(87, 83, 83, 0.575);
    background-color: rgba(87, 83, 83, 0.575);
}

.arrow {
    border: solid #ffc8dd;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 6px;
}

.left:hover {
    border: solid #90be6d;
}

.left {
    transform: rotate(135deg);
}

.right {
    transform: rotate(-45deg);
  
}


.Welcome {
    color: white;
    font-style: bold;
    padding: 26px 15px;
}

.home_head {
    color: white;
    font-style: bold;
    padding: 26px 15px;
    font-family: 'Cormorant', serif;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

#Cardyy {
    padding: 7px;
    color: #f1faee;
}

#Cardyy p {
    color: #f1faee;
    font-size: 16px;
}

#Hover_card {
    width: 12rem;
    border-radius: 4px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    padding: .0rem 0rem .0rem .0rem;
    width: 18rem;
    height: 4.5rem;
    cursor: pointer;
}

#Hover_card:hover {
    transform: scale(1.05);
    background: #6a6e77;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.myCard {
    width: 18rem;
    height: 4.6rem;
}

.card-text {
    color: rgba(31, 30, 30, 0.918);
    font-family: 'Cormorant', serif;
    font-size: 18px;
}

.card_img {
    object-fit: cover;
    height: 4.5rem;
}

.my_col {
    width: 12rem;
    height: 23rem;
}