.account-container{
    min-height: 100vh;
    background-image: linear-gradient(rgb(19, 42, 71),black);
}

.navbar{
    background-color: black;
    padding: 18px 0 !important;
}

.nav-items{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user-name{
    color: white !important;
    display: flex;
    align-items: center;
    margin-left: 14px;
    cursor: pointer;
}

.user-name p{
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.logo-text{
    font-weight: bold;
    margin-top: 6px;
}

.brand{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 40px;
    height: 40px;
}

.image-sec{
    padding: 0 30px;
    height: 400px;
    position: relative;
    display: flex;
    align-items: center;
    background-image: linear-gradient(rgb(13, 21, 59), black);
}

.image-sec h1{
    color: white;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: bold;
}

.image-sec img{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 340px;
    margin-right: 30px;
}
