*{
  margin:0;
  padding: 0;
}
.icons{
  text-decoration: none;
  color:#ffff;
  padding:15px 0px;
  display: flex;
  justify-content:flex-start;
}
.icons:hover{
  background-color: cadetblue;
  text-decoration: none;
  color:#ffff;
}
.insideicon{
  margin:0px 20px
}

a{
  text-decoration: none !important;
}
